.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-success {
  color: var(--success);
}

.text-warning {
  color: var(--warning);
}

.text-danger {
  color: var(--danger);
}

.text-dark {
  color: var(--dark);
}

.text-light {
  color: var(--light);
}

.text-black {
  color: var(--black);
}

.text-gray2 {
  color: var(--gray2);
}

.text-gray {
  color: var(--gray);
}

.text-white {
  color: var(--white);
}
